<section>
  <div class="line">
    <h2  class="background primary"><span>Contact</span></h2>
  </div>
  <div class="container-section">
    <mat-card class="mat-elevation-z4 contact">
      <a class="icon-social" onclick="window.location='mailto:deivid.develop@gmail.com'" target="_blank" mat-icon-button>
        <mat-icon class="mr"><fa-icon [icon]="faEmail"></fa-icon></mat-icon>
      </a>
      <a class="icon-social" href="tel:+34608484371" target="_blank" mat-icon-button>
        <mat-icon class="mr"><fa-icon [icon]="faMobile"></fa-icon></mat-icon>
      </a>
      <a class="icon-social" target="_blank" mat-icon-button>
        <mat-icon class="mr"><fa-icon [icon]="faInstagram"></fa-icon></mat-icon>
      </a>
      <a class="icon-social" target="_blank" mat-icon-button>
        <mat-icon class="mr"><fa-icon [icon]="faBehance"></fa-icon></mat-icon>
      </a>
    </mat-card>
  </div>

</section>
