<section>
  <div class="line">
    <h2 class="background"><span>Contact</span></h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis cum nisi alias facilis eaque,
      reprehenderit aspernatur, inventore quasi dolores temporibus omnis possimus,
      enim ab sunt autem voluptates expedita placeat earum!
    </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis cum nisi alias facilis eaque,
      reprehenderit aspernatur, inventore quasi dolores temporibus omnis possimus,
      enim ab sunt autem voluptates expedita placeat earum!
    </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis cum nisi alias facilis eaque,
      reprehenderit aspernatur, inventore quasi dolores temporibus omnis possimus,
      enim ab sunt autem voluptates expedita placeat earum!
    </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis cum nisi alias facilis eaque,
      reprehenderit aspernatur, inventore quasi dolores temporibus omnis possimus,
      enim ab sunt autem voluptates expedita placeat earum!
    </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis cum nisi alias facilis eaque,
      reprehenderit aspernatur, inventore quasi dolores temporibus omnis possimus,
      enim ab sunt autem voluptates expedita placeat earum!
    </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis cum nisi alias facilis eaque,
      reprehenderit aspernatur, inventore quasi dolores temporibus omnis possimus,
      enim ab sunt autem voluptates expedita placeat earum!
    </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis cum nisi alias facilis eaque,
      reprehenderit aspernatur, inventore quasi dolores temporibus omnis possimus,
      enim ab sunt autem voluptates expedita placeat earum!
    </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis cum nisi alias facilis eaque,
      reprehenderit aspernatur, inventore quasi dolores temporibus omnis possimus,
      enim ab sunt autem voluptates expedita placeat earum!
    </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis cum nisi alias facilis eaque,
      reprehenderit aspernatur, inventore quasi dolores temporibus omnis possimus,
      enim ab sunt autem voluptates expedita placeat earum!
    </p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis cum nisi alias facilis eaque,
      reprehenderit aspernatur, inventore quasi dolores temporibus omnis possimus,
      enim ab sunt autem voluptates expedita placeat earum!
    </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis cum nisi alias facilis eaque,
      reprehenderit aspernatur, inventore quasi dolores temporibus omnis possimus,
      enim ab sunt autem voluptates expedita placeat earum!
    </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis cum nisi alias facilis eaque,
      reprehenderit aspernatur, inventore quasi dolores temporibus omnis possimus,
      enim ab sunt autem voluptates expedita placeat earum!
    </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis cum nisi alias facilis eaque,
      reprehenderit aspernatur, inventore quasi dolores temporibus omnis possimus,
      enim ab sunt autem voluptates expedita placeat earum!
    </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis cum nisi alias facilis eaque,
      reprehenderit aspernatur, inventore quasi dolores temporibus omnis possimus,
      enim ab sunt autem voluptates expedita placeat earum!
    </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis cum nisi alias facilis eaque,
      reprehenderit aspernatur, inventore quasi dolores temporibus omnis possimus,
      enim ab sunt autem voluptates expedita placeat earum!
    </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis cum nisi alias facilis eaque,
      reprehenderit aspernatur, inventore quasi dolores temporibus omnis possimus,
      enim ab sunt autem voluptates expedita placeat earum!
    </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis cum nisi alias facilis eaque,
      reprehenderit aspernatur, inventore quasi dolores temporibus omnis possimus,
      enim ab sunt autem voluptates expedita placeat earum!
    </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis cum nisi alias facilis eaque,
      reprehenderit aspernatur, inventore quasi dolores temporibus omnis possimus,
      enim ab sunt autem voluptates expedita placeat earum!
    </p>
  </div>
  <p>Soy Paco porras y me dedico a x y ay</p>
</section>
