
.contact {
  display: flex;
  justify-content: center;
  padding: 15px;
  background-color: #00e676;
}

.mat-menu-item .mat-icon-no-color {
  color:#fff;
}
.mat-icon-button  {
  width: 55px;
  height: 55px;
  color: #fff;
}

.icon-social {
  line-height: 32px;
}

.mat-icon:hover, .mat-button.mat-primary:hover {
  color: #000;
  cursor: pointer;
}

.mat-icon {
  font-size: 40px;
}
