<section >
  <div class="line">
    <h2  class="background primary"><span>About</span></h2>
  </div>
  <div class="container-section">
    <video  class="video" loop muted autoplay preload="auto" [muted]="'muted'">
      <source src="assets/videos/2.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio laboriosam nostrum autem similique sapiente error facere quia nobis, ad temporibus corporis et quam architecto enim est, dolore provident? Rerum, sapiente!</p>
  </div>


</section>
