<section >
  <div class="line">
    <h2  class="background primary"><span>About</span></h2>
  </div>
  <div class="container-section">
    <img class="img mat-elevation-z4" src="assets/imgs/dnuts.jpg" alt="">
    <p class="img-text">
      Sergio D. Granados is a graphic designer and lettering artist. Born in Madrid, Spain,
      Sergio spent his formative years as an urban artist creating full-length murals and hand-painting company
      storefronts under the name Donuts NRCRW. Sergio’s style blends the classic graffiti aesthetic with refined lettering
      techniques to produce captivating digital designs. From his studies in 3-D animation
      Sergio has extracted ways to fuse various disciplines together, and has come up with a unique style that
      brings his creations to life. His work as a graphic designer has landed him opportunities with companies
      on an international scale and he continues to refine his craft as a freelance artist at his home studio in London, UK
    </p>
  </div>


</section>
