<section >
  <div class="line">
    <h2  class="background primary"><span>About</span></h2>
  </div>
  <div class="container-section">
    <img class="img mat-elevation-z4" src="assets/imgs/dnuts.jpg" alt="">
    <p class="img-text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio laboriosam nostrum autem similique sapiente error facere quia nobis, ad temporibus corporis et quam architecto enim est, dolore provident? Rerum, sapiente!
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque deserunt dicta veritatis eveniet ipsum! Ab fuga eos, sequi illo cumque voluptate reiciendis, possimus delectus nisi reprehenderit nesciunt, eum illum recusandae!
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia distinctio earum cum unde modi accusamus, quis nobis voluptatem excepturi nisi cupiditate atque totam consequuntur provident, hic molestias fugit explicabo quibusdam?
    </p>
  </div>


</section>
