//Header Version Mobile

// .mat-toolbar {
//   display: flex;
//   flex-direction: column;
//   z-index: 100;
//   top: 325px;
//   position: fixed;
//   background-color: #00000075;
//   height: 250px;
// }

.mat-toolbar {
  padding: 5px;
  z-index: 100;
  top: 0;
  position: absolute;
  background-color: #000;
}

.logo {
  width: auto;
  height: 60px;

  &__title {
    padding: 0 2px;
  }
}

.container-items {
  display: flex;
  align-items: center;
}

h2 .mat-button {
  padding: 0;
}

.mat-menu-item .mat-icon-no-color {
  color:#fff;
}
span .mat-icon-button  {
  width: 35px;
  height: 35px;
}

.icon-social {
  line-height: 36px;
}

.mat-icon:hover, .mat-button.mat-primary:hover {
  color: #fff;
  cursor: pointer;
}

.mat-icon {
  font-size: 25px;
}
