
.mat-toolbar {
  @media (max-width: 767px) {
    display: flex;
    flex-direction: column;
    z-index: 100;
    top: 0;
    // position: fixed;
    background-color: #000000;
  }
  padding: 10px;
  z-index: 100;
  top: 0;
  // position: absolute;
  background-color: #000;
}

.logo {
  @media (max-width: 767px) {
    width: auto;
    height: 40px;
  }
  width: auto;
  height: 60px;

  &__title {
    color: #fff;
    padding: 0 2px;
  }
}

.container-items {
  display: flex;
  align-items: center;
}

h2 .mat-button {
  padding: 0;
}

.mat-menu-item .mat-icon-no-color {
  color:#fff;
}
span .mat-icon-button  {
  width: 35px;
  height: 35px;
}

.icon-social {
  line-height: 32px;
}

.mat-icon:hover, .mat-button.mat-primary:hover {
  color: #fff;
  cursor: pointer;
}

.mat-icon {
  font-size: 25px;
}
