#video {
  max-height: 800px;
  min-height: 600px;
  width: 100%;
  overflow: hidden;
  left: 0;
  z-index: 0;
  padding: 0;
}
video {
  object-fit: cover;
}
// #video video {
//   min-width: 100%;
//   min-height: 100vh;
// }

.video-overlay {
  height: 800px;
  width: 100%;
  background-color: transparent;
  position: relative;
  left: 0;
  z-index: 5;
}
