#video {
    height: 800px;
    width: 100%;
    position: absolute;
    overflow: hidden;
    left: 0;
    z-index: 0;
    padding: 0;
}
video {
  object-fit: fill;
}
// #video video {
//   min-width: 100%;
//   min-height: 100vh;
// }

.video-overlay {
  height: 800px;
  width: 100%;
  background-color: #ffffff30;
  position: relative;
  left: 0;
  z-index: 5;
}
