<section>
  <div class="line">
    <h2  class="background primary"><span>Projects</span></h2>
  </div>
  <div class="container-section">
    <div class="masonry">
      <div class="grid">
        <img src="https://source.unsplash.com/random/1">
        <div class="grid__body">
          <div class="relative">
            <a class="grid__link"  href="/" ></a>
          </div>
          <div class="mt-auto" >
            <h1 class="grid__title">Title 1</h1>
          </div>
        </div>
      </div>

      <div class="grid">
        <img src="https://source.unsplash.com/random/2">
        <div class="grid__body">
          <div class="relative">
            <a class="grid__link" href="/" ></a>
          </div>
          <div class="mt-auto" >
            <h1 class="grid__title">Title 1</h1>
          </div>
        </div>
      </div>

      <div class="grid">
        <img src="https://source.unsplash.com/random/3">
        <div class="grid__body">
          <div class="relative">
            <a class="grid__link" href="/" ></a>
          </div>
          <div class="mt-auto" >
            <h1 class="grid__title">Title 1</h1>
          </div>
        </div>
      </div>

      <div class="grid">
        <img src="https://source.unsplash.com/random/4">
        <div class="grid__body">
          <div class="relative">
            <a class="grid__link" href="/" ></a>
          </div>
          <div class="mt-auto" >
            <h1 class="grid__title">Title 1</h1>
          </div>
        </div>
      </div>

      <div class="grid">
        <img src="https://source.unsplash.com/random/5">
        <div class="grid__body">
          <div class="relative">
            <a class="grid__link" href="/" ></a>
          </div>
          <div class="mt-auto" >
            <h1 class="grid__title">Title 1</h1>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

